---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm MAO, a front-end software developer from China.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Vue</li>
        <li>Nodejs</li>
      </ul>
    </div>
    <p class="text-sm font-light"></p>
    <p class="text-sm font-light"></p>
  </div>
</Card>
